{
    "presets": [
        [
            "@babel/preset-react",
            {
                "option": "value"
            }
        ],
        [
            "react-app",
            {
                "absoluteRuntime": false
            }
        ]
    ]
}